/*Selector universal*/
*{
    
    padding: 0;
    margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f1ecea;
}
header{
    background-color: #3a251c;
}
/*Selecto id*/
#contenedor{
    
    
    width: 900px;
    height: 1000px;
    margin: 0 auto;
    background-color:#f1ecea ;
   
   
   
   
}

#Encabezado{
    height: 15%;
    background-color: #3a251c;
    
}

#menu{
    height: 5%;
    background-color: #b46424;
    
}

#contenido{
    height: 64%;
    width: 64%;
    background-color: #362f2f;
    
    
    float: left;

}

#fueraSeccion{
    height: 64%;    
    width: 35%;
    background-color: #b58c7c;
    margin: 0m auto;
    float: left;
    
}





#menu{
    height: 5%;
    
    
}

/*Selector class*/
.encabezado{
    height: 15%;
    text-align: center;
    background-color: #3a251c;
    max-width:  auto;
    align-content: center;
}
.texto{
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;

}
.texto2{
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.texto3{
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.textoP{
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 1em;
}
.encabezadoArticulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1em;
   
}
.encabezadoFuera{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}



.fueraSeccion{
    background-color: none;
}
.encabezado{
    text-align: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.articulo1{
    align-items: center;
}

/* Selector de etiqueta*/

ul{
    text-align: center;

}
a{
    outline: none;
    text-decoration: none;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    outline: none;
    text-decoration: none;
}
img{
    width: 100px;
    height: 100px;   
    border: 1px solid;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
   
}

.imagenes{
margin: 0 auto;

width: 70%;
}
.imagenes2{
    
    
    
    
    
    

    display: block;
margin-left: auto;
margin-right: auto;
    
}
#imagen{
       margin-left: 15px;
       display: block ;
       padding: 1px;
       display: inline-block;
   }
   
footer{ 
    
    text-align: center;
    width: 99%;
    color: white;
    font-size: 1.2em;
    background-color: #3a251c;
}